html {
  font-family: Verdana;
  font-size: 16px;
}

header {
  position: fixed;
  display: inline-flex;
  height: 64px;
  width: 100%;
  background-color: white;
  padding-left: 24px;
}

header .header {
  display: flex;
  width: 1180px;
  height: 100%;
  align-items: center;
  flex-direction: row;
}

header .header a {
  text-decoration: none;
  color: darkgrey;
}

.colmar {
  font-weight: bold;
  color: black;
}

.academy {
  font-weight: lighter;
  color: #D3D3D3;
}

.menu {
  align-content: flex-end;
}

nav ul li {
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  text-decoration: none;
  padding: 16px;
}

.menu img {
  display: none;
}

section {
  display: flex;
}

.first {
  background-color: #D3D3D3;
  width: 100%;
}

.first img {
  width: 60%;
  padding: 32px 0px 32px 24px;
}

.text1 {
  display: block;
  text-align: left;
  margin-left: -100px;
  padding: 40px;
}

.text1 h1 {
  text-size: 3rem;
}

.section2 {
  width: 70%;
  padding: 24px;
}

.section2 img {
  width: 90%;
  padding-top: 32px;
  padding-bottom: 32px;
}

.section2 h1 {
  font-size: 2rem;
  font-weight: bold;
}

.section2 p {
  font-weight: normal;
  font-size: 0.75rem;
  color: #D3D3D3;
}

.section2 span {
  color: darkgrey;
}
